<div style="border: 1px solid black" (click)="onSelectItem($event)">
  <div>
      name: {{config.name}}
  </div>
  <div>
      type: {{config.type}} <span *ngIf="config.type==='CONTAINER'">[{{config.items.length}}]</span>
  </div>
  <div>
    <button (click)="onDeleteClick()">Delete</button>
  </div>
  <div *ngIf="config.type==='CONTAINER'" >
    <div dragula="DRAGGABLES" [(dragulaModel)]="config.items" class="container" >
      <div *ngFor="let item of config.items">
        <app-designer-item [config]="item" (delete)="onDelete($event)"></app-designer-item>  
      </div>
  </div>
  </div>
</div>
